/*
 *
 */
@import "variables";

@mixin warning {
  background-color: orange;
  color: #fff;

}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}

body {
  font-family: sans-serif;
  color: $text-color;
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

h2 {
  @include large-text;
}

p {
  font-family: $text-font;
}

@mixin rounded {
  border-radius: 6px;
}

@mixin box {
  @include rounded;
  border: 1px solid #333;
}

a {
  color: $link-color;
}

.warning-button {
  @include warning;
  padding: 8px 12px;
}

#header {
  @include box;
  height: $header-height;
  background-color: $theme-color;

  #main-menu {
    a {
      color: $menu-item-color;
    }
  }
  
  #logo {

  }
}

#main {
  $width: $content-width;

  #content {
  }

  #sidebar {
  }
}

#footer {
  height: $footer-height;
  background-color: $ternary-color;
}
